
    <mat-list role="list">
      <mat-list-item *ngFor="let country of countries; let index = index; trackBy: trackByFn" role="listitem" title="{{country.name}}"
      (click)="open(country)">
        <span class="country-position-idx text-center">{{index + 1}}</span>
        <span
          class="me-2 flag-icon flag-icon-{{country.flag}}"
          style="font-size:1rem; width:3rem;"
        >
        </span>
        <span
          title="{{country.name}}  ({{country.count}} {{country.countLabel}})"
          class="text-truncate country-label"
          >{{country.name}}  ({{country.count}} {{country.countLabel}})</span>
      </mat-list-item>
    </mat-list>

<mat-accordion>


  <mat-expansion-panel *ngFor="let country of countries; let index = index; trackBy: trackByFn">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="country-position-idx text-center">{{index + 1}}</span>
        <span class="flag-icon flag-icon-{{country.flag}}">
        </span>
        <span class="country-label text-truncate ps-2">{{country.name}}  ({{country.count}} {{country.countLabel}})</span>
      </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let loc of country.data; let index = index; trackBy: trackByFn;">
      <div class="ps-3  py-2">
        {{loc.location}}   <span class="ms-2 {{loc.class}}">({{loc.count}} {{loc.countLabel}})</span>
      </div>

    
    </div>
  </mat-expansion-panel>
</mat-accordion>