<h2 class="px-3 pt-4">
  <div>Подадени електронни заявления за гласуване от чужбина - {{total}}.</div>
  <a class="" target="_blank" href="https://www.cik.bg/bg/ns11.07.2021/izvan-stranata/submit">
    Препратка към подаване на електронно "Заявление за гласуване в секция извън
    страната" - cik.bg .</a>
</h2>

<div class="px-3 mb-4">
  данните са от 14 Юни 2021 - 02:37 българско време
</div>
<div class="px-3 mb-4">
  Електронни заявления може да се подават до 15.06.2021 г., 24:00 часа българско
  време. Те служат за:
  <ul>
    <li>
      образуване на избирателни секции извън страната при подадени не по-малко
      от 40 заявления за конкретно място и определяне броя на секциите във всяко
      място;
    </li>
    <li>
      съставяне на списъците за гласуване по чл. 31, ал. 1 ИК за образуваните
      избирателни секции;
    </li>
    <li>
      по-малко чакане, ако има образувала се опашка пред избирателната секция в
      изборния ден;
    </li>
  </ul>
</div>

<mat-accordion class="el-accordion">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="m-0 p-0">Топ 100</h3>
      </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <mat-list-item *ngFor="let place of topLocations; let index = index" role="listitem" title="{{place.name}}">
        <span class="country-position-idx text-center">{{index + 1}}</span>
        <span
          class="me-2 flag-icon flag-icon-{{place.flag}}"
          style="font-size:1rem; width:3rem;"
        >
        </span>
        <span
          title="({{place.count}}) {{place.location}} - {{place.name}}"
          class="text-truncate country-label"
          >({{place.count}}) {{place.location}} - {{place.name}}</span>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>



<h3 class="px-4 py-4">По държави</h3>

<table-view [countries]="countries"></table-view>